---
layout: page
title: portfolio
permalink: /portfolio/
---
{% assign groups = site.portfolio | group_by: "category" %}

    {% for group in groups %}
        <div class="wrapper">
        <h2>{{ group.name }}</h2>

        {% assign sortedprojects = group.items | sort: "order" %}

        {% for project in sortedprojects %}

        {% if project.redirect %}
        <div class="project">
            <div class="thumbnail">
                <a href="{{ project.redirect }}" target="_blank">
                {% if project.img %}
                <img class="thumbnail" src="/{{ project.img }}"/>
                {% else %}
                <div class="thumbnail blankbox"></div>
                {% endif %}
                <span>
                    <h1>{{ project.title | truncate: 12}}</h1>
                    <br/>
                    <p>{{ project.description }}</p>
                </span>
                </a>
            </div>
            <div class="dname">
              <h5>{{ project.title }}</h5>
            </div>
        </div>
        {% else %}

        <div class="project ">
            <div class="thumbnail">
                <a href="{{ site.baseurl }}{{ project.url }}">
                {% if project.img %}
                <img class="thumbnail" src="{{ project.img }}"/>
                {% else %}
                <div class="thumbnail blankbox"></div>
                {% endif %}
                <span>
                    <h1>{{ project.title | truncate: 12 }}</h1>
                    <br/>
                    <p>{{ project.description }}</p>
                </span>
                </a>
            </div>
        </div>

        {% endif %}

        {% endfor %}
      </div>
    {% endfor %}
